<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .postContainer::-webkit-scrollbar{
        display: none;

    }
</style>
<body class="bg-gray-100">
    <a href="/back"><i class="ri-arrow-left-s-line  ml-[3vw] my-[2vw] text-zinc-700 text-2xl"></i></a>
    <div class="container mx-auto px-4">

        <h1 class="text-center py-[1vw] text-xl text- " >Profile</h1>
        <div class="flex justify-center">
            <div class="flex items-center justify-center">
                <img src="/images/websiteimages/w.png" alt="image" class="border-2 border-black rounded-full h-[10vw] w-[10vw]">
            </div>
           
        </div>

        <div class="flex justify-center  mt-2  gap-4">
           <input type="text" placeholder="username" class="w-[17vw] h-[3vw] bg-zinc-600 text-white pl-4 rounded-full" value="<%=user.username %>" >
           <input type="text" placeholder="Email" class="w-[17vw] h-[3vw] bg-zinc-600 text-white pl-4 rounded-full"  value="<%=user.email %> ">
           <input type="text" placeholder="Gender" class="w-[17vw] h-[3vw] bg-zinc-600 text-white pl-4 rounded-full" value="<%=user.gender %>">
        </div>

        <div class="mt-8">
            <span class="text-2xl font-semibold">Your Previous remedie's</span>
        </div>

        <div class="postContainer flex overflow-x-auto mt-4   ">

            <!-- Repeat this block for each post card -->
            <%  user.post.forEach((remedie) =>{ %> 
          
            <div class="shadow-md bg-green-200  w-[12vw] rounded-lg mx-2 shrink-0 " >
                <img src="/images/uploads/<%= remedie.image %> " alt="Image description" class="rounded-t-lg w-full">
                <div class="p-2">
                    <h3 class="text-lg font-semibold"><%= remedie.remedieName %></h3>
                    <div class="flex justify-center mt-4">
                        <a href="#" class="px-4 py-2 bg-blue-500 text-white rounded-md">View</a>
                    </div>
                </div>
            </div>
            <% })%>
            
        </div>
    </div>
</body>

</html>
